@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.HA_side_bar_btn{
    display: flex;
    align-items: center;
    width:auto;
    /* border: 2px solid yellow; */
    padding: 20px;
    /* height: 20px; */
}
.HA_side_bar_text{
    font-size: 1.5em;
    color: black;
    font-family: 'Montserrat, sans-serif';
    margin-left: 30px;
}
.HA_main{
    display: flex;
    width: 100%;
    background-color: #ebebeb;
    height: 86.9vh;
    /* background-color: aqua; */
}
.HA_main_part1{
    width: 20%;
    height: 94%;
    padding: 20px 20px;
    background-color: #ebebeb;
    overflow-y: scroll;
    /* box-shadow:10px 6px 20px -10px gray; */
}
.HA_main_part1::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.HA_main_part2{
    background-color:white;
    border-radius: 15px;
    width:76%;
    height: 97%;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    /* background-color: brown; */

}
.HA_main_part2::-webkit-scrollbar{
    display: none; 
}
.HA_side_bar_btn_check{
    cursor: pointer;
}