  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

  body {
      font-family: 'Montserrat, sans-serif' !important;
  }
  .css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    border-radius: 0px !important;
  }
  .hello_world_hasd {
      flex: 1;
  }

  .hA_main_banner {
      display: flex;
      /* justify-content: center; */
      width: 100%;
      flex: 1;
      flex-wrap: wrap-reverse;
      height: auto;
      padding: 0px 0px 0px 0px;
      /* background-color: aqua; */
  }

  .HA_main_bn_1 {
      display: flex;
      /* align-items: center; */
      width: 48%;
      /* justify-content: center; */
      /* height: 40vh; */
      /* background-color: blue; */
  }

  .HA_main_bn_2 {
      width: 50%;
      display: flex;
      /* height: 40vh; */
      /* background-color: rgb(0, 0, 99); */
      justify-content: center;
      align-items: center;
  }

  .HA_main_bn_2_image {
      width: 70%;
      height: auto;
  }

  .HA_main_bn_2_image44 {
      display: none;
  }

  .HA_main_bn_1_text_div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      /* background-color: aqua; */
      /* padding: 20px; */
      padding: 20px 20px 20px 54px;

      border-radius: 10px;
      /* box-shadow: 15px 15px 40px -10px gray;
      border: 1px solid black; */
  }

  .HA_main_bn_1_text_child_heading {
      font-size: 3em;
      margin-top: 0px;
      margin-bottom: 10px;
  }

  .HA_main_bn_1_text_child_para {
      font-size: 17px;
      line-height: 1.5em;
  }

  .HA_main_bn_1_text_span {
      font-weight: 900;
      font-family: 'Montserrat, sans-serif';
  }

  .HA_main_bn_1_btn {
      margin-top: 20px;
  }

  .HA_check_text {
      text-align: center !important;
      font-size: 3rem !important;
      font-family: 'Montserrat, sans-serif' !important;
      font-weight: 800 !important;
  }

  .HA_landinf_page_demo {
      width: 100%;
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      padding: 20px 80px 50px 80px;
  }

  /* .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
      width: 100% !important;

  } */
  .HA_landing_news_thicker {
      position: relative;
      height: 100px;
      padding: 50px 0px 0px 0px
  }

  .HA_newsthicker_main_DIV {
      position: absolute;
      width: 70%;
  }

  .HA_main_bn_2_image_container {
      position: relative;
      /* display: flex;
      justify-content: center;
      align-items: center; */
  }

  .HA_main_bn_2_image_container2 {
      display: none;
  }

  .text-overlay {
      position: absolute;
      top: 69%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
      /* Ensures text spans the entire width of the container */
  }

  .centered-text {
      color: black;
      /* Change color as needed */
      font-size: 1.0.5rem;
      text-align: center;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      /* Adjust font size as needed */
      /* Add any additional styling for your text */
  }

  .custom-overlay-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, 0.8);
      padding: 10px;
      border-radius: 5px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      color: black !important;
  }

  .HA_HA_main_bn_2_image_container {
      position: relative;
      display: flex;
      justify-content: center;
  }

  .HA_text-overlay {
      position: absolute;
      top: 79%;
      left: 52.5%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 58%;
      /* Ensures text spans the entire width of the container */
  }

  .HA_centered_text {
      color: black;
      /* Change color as needed */
      font-size: 2rem;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 1px;
      /* Adjust font size as needed */
      /* Add any additional styling for your text */
      text-align: center;
  }

  .close-icon {
      position: absolute;
      top: 8px;
      right: 8px;
      cursor: pointer;
  }
  @media screen and (min-width: 1024px) and (max-width: 1242px) {
    .HA_centered_text {
        font-size: 1.5rem;
    }
  }
  @media screen and (max-width: 1024px) {
      .centered-text {
          color: black;
          /* Change color as needed */
          font-size: 1.0.5rem;
          text-align: center;
          /* Adjust font size as needed */
          /* Add any additional styling for your text */
      }

      .HA_centered_text {
          font-size: 1.2rem
      }
  }

  @media screen and (max-width: 768px) {
    .HA_zoom_main_div{
        position: absolute;
        top: 78.5%;
        left: 45%;
        transform: translate(-50%, -50%);
        color: black;
        width: 100%;
        height: auto;
        text-align: center;
       
        width: 100%;
    }
    .HA_zoom_text{
        font-family: "Roboto", sans-serif;
        font-size: 2.5rem;
        }
    .text-overlay{
        top: 79%;
        left: 55%;
    }
      .centered-text {

          font-size: 0.8rem;

      }

      .HA_centered_text {
          display: none;
      }

      .HA_main_bn_2_image {
          display: none;
      }

      .HA_main_bn_2_image_container {
          display: none;

      }

      .HA_main_bn_2_image_container2 {
          display: block;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .HA_main_bn_2_image44 {
          display: block;
      }

      .hA_main_banner {
          padding-top: 50px;
          justify-content: center;
      }

      .HA_landinf_page_demo {
          width: 92%;
          display: flex;
          flex-direction: column;
          /* align-items: center; */
          padding: 10px 10px 50px 10px;
      }

      .HA_main_bn_1 {
          width: 100%;
          display: flex;
          /* justify-content: center; */
          margin-top: 27px;
          padding: 20px 20px 20px 24px;

      }

      .HA_main_bn_1_text_div {
          width: 100%;
          padding: 20px 20px 20px 0px;

      }

      .HA_main_bn_1_text_child_para {
          font-size: 15px;
      }

      .HA_main_bn_1_text_child_heading {
          font-size: 2em;
      }

      /* .navbar_main {
        padding: 0px;
    } */
  }

  @media screen and (max-width: 425px) {
    .HA_zoom_main_div{
        top: 73.5%;
        left: 55%;
    }
    .HA_zoom_text{
        font-size: 1.7rem;
    }
      .centered-text {

          font-size: 0.7rem;

      }

      .HA_newsthicker_main_DIV {
          width: 100%;
      }

      .HA_main_bn_1 {
          padding-left: 16px;


      }

      .HA_main_bn_1_text_div {
          padding: 0px;
      }
  }