ul.ReactFlagsSelect-module_selectOptions__3LNBJ.ReactFlagsSelect-module_fullWidthOptions__1XeR6 {
    background-color: gray;
}
.ReactFlagsSelect-module_flagsSelect__2pfa2{
    padding: 0px;
}
.flag-widget-container {
    display: flex;
    align-items: center;
  }
  
  .selected-flag-icon img {
    width: 20px; 
    height: 14px;
    margin-left: 8px; 
  }
  .custom-select-container img.HA_image_sizing {
    width: 29px  !important;
}

.custom-select-container .css-bba0h6-control {
    height: 40px !important;
}
  @media screen and (max-width: 768px) {
    img.HA_image_sizing {
      width: 33px  !important;
  }
  }