.HA_table_main_add{
    padding: 20px;
}
.HA_table_main_add_child{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
    margin:0px 0px 30px 0px;
    padding: 20px 0px;
    border-bottom: 1px solid gray;

}
.HA_table_main_add_child_text{
    font-size: 2vmax;
    margin: 0px;
}